JWT_SECRET=
# Example Secret:-  abcdefghijklmnopqrstuvwxyz1234567890

JWT_TIMEOUT_DURATION="2h"
# You can place duration available here: https://github.com/auth0/node-jsonwebtoken#usage
# Search for "expiresIn" option on above link.